<%- include('headeradmin'); -%>
<div class="page-wrapper">
	<div class="container-fluid">
		
		<!-- Title -->
		<div class="row heading-bg bg-green">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
			  <h5 class="txt-light">Register Table</h5>
			</div>
			<!-- Breadcrumb -->
			<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
			  <ol class="breadcrumb">
				<li><a href="index">Dashboard</a></li>
				<li><a href="#"><span>register</span></a></li>
				<li class="active"><span>Register User</span></li>
			  </ol>
			</div>
			<!-- /Breadcrumb -->
		</div>
		<!-- /Title -->
		<div class="back">
		<button type="submit" class="btn btn-info btn-rounded mt-2 float-right"
		><a href="/admin"style="color: white"><i class="fa fa-arrow-left" style="font-size: 17px;"> Back</i></a> </button>
	</div>
		<!-- Row -->
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel-default card-view">
					<div class="panel-heading">
						<div class="pull-left">
							<h6 class="panel-title txt-dark">Register User</h6>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="panel-wrapper collapse in">
						<div class="panel-body">
							<div class="table-wrap">
								<div class="table-responsive">
																			
                                <% if(details!=null) { %>
									<table id="datable_1" class="table table-hover display  pb-30" >
										<thead>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Action</th>
										
											</tr>
										</thead>
										<tfoot>
											<tr>
												<th>Name</th>
												<th>Email</th>
												<th>Phone</th>
												<th>Action</th>
											</tr>
										</tfoot>
										<% details.forEach(function(item){ %>
											<tr>
												<td><%= item.name%></td>
												<td><%= item.email %></td>
												<td><%= item.phone%></td>
												
												<td>
												<a href="/admin/edit/<%= item._id %>"><i class="fa fa-edit"style="color:green"></i></a>
												   <a href="/admin/delete/<%= item._id %>"><i class="fa fa-trash text-danger"></i></a> 
												   </td>
											</tr>
											<% }) %>
										</table>
										<% } %>
	

								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
														
<%- include('footeradmin'); -%>
										
